@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Hairline.ttf') format('truetype')
}

@font-face {
    font-family: 'Yatra';
    src: url('./fonts/Yatra_One/YatraOne-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Bungee';
    src: url('./fonts/BungeeShade-Regular.ttf') format('truetype')
}

body {
    background-color: #004d00;
    font-family: 'Lato', Arial, serif;
    font-size: 36px;
    color: orange;
    height: 0px;
}

.title {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: -1;
}

.canvases {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#staticBackgroundCanvas {
    z-index: 100;
}

#dynamicBackgroundCanvas {
    z-index: 200;
}

#staticForegroundCanvas {
    z-index: 300;
}

#dynamicForegroundCanvas {
    z-index: 400;
}


