* {
  box-sizing: border-box;
}
@font-face {
  font-family: "BungeeShade";
  src: url("./fonts/BungeeShade-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Chicle";
  src: url("./fonts/Chicle-Regular.ttf") format("truetype");
}

body {
  font-family: "Chicle", Arial, serif;
  font-size: 10vh;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #333333;
}

ul {
  padding: 0px;
  margin: 0px;
}
li {
  list-style: none;
}

h1,
h2,
ul,
footer,
content {
  z-index: 1000;
}

h1 {
  font-family: "BungeeShade", Arial, serif;
}

.canvases {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

#staticBackgroundCanvas {
  z-index: 100;
}

#dynamicBackgroundCanvas {
  z-index: 200;
}

#staticForegroundCanvas {
  z-index: 300;
}

#dynamicForegroundCanvas {
  z-index: 400;
}

footer {
  font-size: 3vh;
  color: beige;
  align-self: flex-start;
  margin: 1vh;
}

footer a {
  color: white;
}

content {
  font-size: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

h2 {
  margin: 0px;
  flex: 1 1 auto;
  font-family: "Chicle";
}

content div {
  margin: 1vh;
}

a:hover {
  color: beige;
  text-decoration: none;
}

a {
  color: #333333;
  text-decoration: none;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
